.git
.DS_Store
.github
.husky
.idea
.turbo
README.md
LICENSE.md
.cache
.DS_Store
docs
arch
contracts
.changeset
http
.husky
dist-types
.yarn/cache
.yarn/install-state.gz
prod-out/*
!prod-out/dist
!prod-out/node_modules
prod/*
http/*
coverage
*.log
.pnpm-store
